#calculator-container {
    /* background-color: aliceblu; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding-block: 5px;
    }
    #date-input, #currencies {
        /* width: 50%; */
        /* height: 25px;
        background-color: aliceblue; */
        /* border: none; */
    }
    #form-container {
        /* width: 100%; */
        fieldset {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 0px;
            margin: 0;
        }
        label {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        input {
            /* height: 25px; */
            /* border: none; */
        }
        input [type='radio'] {
            background-color: aqua;
        }
    }
}