#calculator-container {
    /* background-color: aliceblu; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding-block: 5px;
    }
    #date-input, #currencies {
        /* width: 50%; */
        /* height: 25px;
        background-color: aliceblue; */
        /* border: none; */
    }
    #form-container {
        /* width: 100%; */
        fieldset {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 5px;
            margin: 0;
            border: none;
        }
        label {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;
            padding-block: 5px;
            span {
                width: 80px; /* Ajusta el ancho según tus necesidades */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: end;
            }
         
        }
        .returnFuel {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        input {
            /* height: 25px; */
            /* border: none; */
        }
        input [type='radio'] {
            background-color: aqua;
        }
    }
}

details {
    display: flex;
    justify-content: stretch;
    align-items: start;
    width: 100%;
    /* gap: 10px; */
    
    /* gap: 20px; */
    summary {
        text-align: start;
    }
    .details-on-details {
        /* width: 80%; */
        justify-content: flex-end;
        display: flex;
        summary {
            display: flex;
            text-align: end;
            flex-direction: row;
            justify-content: flex-end;
            gap: 8px;
            padding-block: 5px ;
            span {
                width: 80px; /* Ajusta el ancho según tus necesidades */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: end;
            }
            /* gap: 10px; */
        }
        div {
            label {
                flex-direction: column !important;
                input {
                    width: 70px;
                }
            }
        }
    }
}
details[open] {
    /* display: flex;
    justify-content: end;
    align-items: end; */
}