#time-container {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        li {
            text-align: center;
            width: 100%;
            font-size: medium;
        }
        
    }
}
.change-date--btn {
    font-size: 12px;
    /* background-color: aliceblue; */
}
h2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    font-size: 16px;
}